body {
    text-align: center;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
 background-image: -webkit-linear-gradient(top, 
 #000, rgb(0, 0, 116), rgb(19, 67, 172));
 background-image: -moz-linear-gradient(top, #000, darkblue);
  background-image: -ms-linear-gradient(top, #000, darkblue);
   background-image: -o-linear-gradient(top, #000, darkblue);
      background-image: linear-gradient(top, #000, darkblue);
background-attachment: fixed;

}
* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:link, a:visited {
text-decoration: none;
}
h1 {
margin: 0;
text-shadow: 2px 2px 3px gray;
padding-top: 2em;
}
h2 {
    margin: 0;
    text-shadow: 1px 1px 2px gray;
    padding-top: 2em;
    padding-bottom: 1em;
}
p {
    padding-top: 1em;
    margin: 0;
    text-shadow: .25px .25px .5px gray;
}
hr {
    width: 50%;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 116);
    border-radius: 50%;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1em;
}
.wrapper {
    font-size: 1.6em;
    padding: 0em 0em 4em 0em;
    margin: 0 auto;
    width: 900px;
    height: minmax(1000px, 2000px);
    background-color: white;
    border-radius: 5%;

/*  background-image: url("eastwind.png");
    background-repeat: no-repeat;
    background-position: top right; */
}
#header-img {
    border: 2px solid #000;
    margin-top: 4em;
    margin-bottom: 1em;
    height: 10em;
    width: 45em;

    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;

}
#nav-bar {
    height: 4em;
    background-color: burlywood;
    position: fixed;
    width: 100%;
    padding: 1em;
}
.nav-link {
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;
    color: purple;
}
.nav-link:hover {
    color: whitesmoke;
}
#video {
    border: 5px solid burlywood;
    border-radius: 2px;
}
#construction-img {
    height: 20em;
    margin-top: 5em;
}
#learnmore {

}
#form {
    padding-top: .5em;
    padding-bottom: 4em;
}
#email {
height: 2em;
}
#submit {
    height: 2em;
}
#contact {
padding-bottom: 2em;
}
#contactlinks {
float: center;
padding-right: 1em;
padding-left: 1em;
}
#contactlinks img {
    height: 3em;
}
#contactlinks img:hover {
    background: #cacaca;
}
#contactlinks a:hover {
    background:  black;
}
@media screen and (max-width: 900px){
html, body {
    max-width: 100vw;
    max-height: 150vh;
}
    .wrapper {
max-width: 80vw;
height: 100vh;
}
#video {
    max-width: 60vw;
}
}